<%= title l(:"facturaplus.label_new_sage_article") %>

<%= labelled_form_for @sage_article, :url => sage_articles_path do |f| %>
  <%= error_messages_for 'sage_articles' %>
  <div class="box tabular">
    <div id="all_attributes">
        <%= render :partial => 'sage_articles/form', :locals => {:f => f} %>
    </div>

  </div>

  <%= submit_tag l(:button_create) %>
  <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
<% end %>
<%= link_to l(:button_back), sage_articles_path %>
